.App {
  text-align: center;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #34be54;
}
.p5Canvas{
  transform: rotate(180deg);
  z-index: -1;
  pointer-events: none;
}

#playButton{
  position: absolute;
  top: calc(50% - 3.25ch);
  left: calc(50% - 3.25ch);
}

#playButton button{
  min-height: 64px;
  border-radius: 100%;
}

.switch{
  position: absolute;
  top: 2%;
  left: 20px;
  /* left: 48vw; */
  background-color: rgba(0, 0, 0, 0.2);
  padding: 4px 15px 4px 4px;
  border-radius: 10px;
}

#unmute-button{
  position: absolute;
  --unmute-size: 50px !important;
}

.switch span{
  font-size: 15px !important;
}


.controls-container{
  position: relative;
  width: 85vw;
  top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 19px;
  border-radius: 10px;
  background-color: #0000001f;

}

@media only screen and (min-width: 769px) {
  .controls-container{
    width: 40vw;

  }
  .switch{
    top: 5%;
  }

  .App{
    flex-direction: row;
  }
  .p5Canvas{
    margin-top: 0px;
  }
}