.App {
  text-align: center;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #000000;
  padding-bottom: 10vh;
}

.controls-visuals{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.p5Canvas{
  transform: rotate(180deg);
  z-index: 0;
  pointer-events: none;
}

#playButton{
  position: absolute;
  top: calc(50% - 4ch);
  left: calc(50% - 4ch);
}

#playButton button{
  min-height: 64px;
  border-radius: 100%;
}

.switch{
  position: absolute;
  top: 2%;
  left: 20px;
  /* left: 48vw; */
  background-color: rgba(255,255,255, 0.2);
  padding: 4px 15px 4px 4px;
  border-radius: 10px;
}

#unmute-button{
  position: absolute;
  --unmute-size: 50px !important;
}

.switch span{
  font-size: 15px !important;
}
#unmute-button{
  fill: white;
}
a{
  color: white;
}
.controls-container{
  position: relative;
  width: 85vw;
  top: 2vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 19px;
  border-radius: 10px;
  background-color: #ffffff3b;

}

@media only screen and (min-width: 769px) {
  .controls-container{
    width: 40vw;

  }
  .App{
    height: 100vh;
    padding: 0;
  }
  .switch{
    top: 5%;
  }

  .controls-visuals{
    flex-direction: row;
  }
  .p5Canvas{
    margin-top: 0px;
  }
}