body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: white;
  height: 100%;
}



html{
  background-color: black;
  min-height: 100%;
}

#root{
  height: 100%;
}

*{
  font-family: 'Anton', sans-serif !important;
  margin: 0;
  padding: 0;
}